# gitignore files

# LLMs
GEMINI.md
CLAUDE.md

# Work-Break-Down Structure (WBS)
WBS.md

# Project formulation
stance-io-context.md

node_modules
dist

.dev.pid

# Env files
.env
.env.local
.env.*.local
